.discoverCard{
    padding:40px 20px;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    .image{
        width: 100%;
    }
    .heading{
        font-size: 2rem;
    }
    .text{
        line-height: 2rem;
        color:rgb(180, 180, 180);
    }
    .button{
        font-size: 1rem;
        font-weight: 600;
        border: none;
        width: 100%;
        height: 60px;
        border-radius: 10px;
        color:white;
        background-color: rgb(24, 95, 225);
        cursor: pointer;
    }
}